.login-title {
    color:black;
    font-weight: 700;
}
.main-logo {
    width: 25em;
}
.set-margin {
    // margin-left: 0;
}
.account-wall {
    margin: 2em;
    margin-top: 10px;
}
.align-text {
    text-align: center;
}