<div>
  <div class="align-text">
      <h1 class="text-center login-title">Sign up to continue</h1>
      <div class="account-wall">
        <img class="profile-img"
             src="https://randomuser.me/api/portraits/lego/7.jpg"
             alt="">
        <form class="form-signin" novalidate @submit.prevent="signup(user)">
          <div class="form-group" :class="{'has-error': errors.has('user.email') }">
            <input type="email" class="form-control" placeholder="Email" autofocus v-model="user.email"
                   v-validate.initial="user.email" data-vv-rules="required|email">
            <span class="text-danger"
                  v-if="errors.has('user.email')">Email please</span>
          </div>
          <div class="form-group" :class="{'has-error': errors.has('user.password') }">
            <input class="form-control" placeholder="Password"
                   type="password"
                   v-model="user.password"
                   v-validate.initial="user.password" data-vv-rules="required|min:6|max:12">
            <span class="text-danger"
                  v-if="errors.has('user.password:min')">The field must be at least 6 characters.</span>
            <span class="text-danger"
                  v-if="errors.has('user.password:max')">Too much</span>
          </div>
            <div class="form-group ">
              <input class="form-control" type="text" v-model="user.firstName" placeholder="First name" >
              <br>  
              <input class="form-control" type="text" v-model="user.lastName" placeholder="Last name" >
            </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign up
          </button>
          <p class="text-danger error"
             v-if="error">{{error}}</p>
        </form>
        <a @click="switchToSignIn()">Already have an account? Sign in</a>
      </div>
  </div>
</div>
