<div>
  <div class="align-text">
      <img class="main-logo" src="../../assets/logos/7.png" alt="">
      <h1 class="text-center login-title">Sign in to continue</h1>
      <div class="account-wall">
        <img class="profile-img" src="https://ccerbal.uottawa.ca/lmirg/sites/ccerbal.uottawa.ca.lmirg/files/image3.png" alt="">
        <form class="form-signin" novalidate @submit.prevent="signin(user)">
          <div class="form-group" :class="{'has-error': errors.has('user.email') }">
            <input type="email" class="form-control" placeholder="Email" autofocus v-model="user.email" v-validate.initial="user.email"
              data-vv-rules="required|email">
          </div>
          <div class="form-group" :class="{'has-error': errors.has('user.password') }">
            <input class="form-control" placeholder="Password" type="password" v-model="user.password">
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <p class="text-danger error" v-if="error">{{error}}</p>
        </form>
             <router-link :to="{ path: '/signup'}" replace>Not A Member? Sign up</router-link>
      </div>
    </div>
</div>
