.btn-delete {
    border-radius: 30%;
    float: right;
    &:focus,
    &.focus {
    outline: 0;
  }
}
.navbar {
  position: relative;
  background: #449DD1;

}
.navbar-brand {
  color: white;
}
.siteTitle {
  align-items: center;
}