#toolbar {
  color: white;
  background: #333399;
}



section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   justify-content: space-around;
  // justify-content: space-around;
  padding: 10px;
}

#toolContainer  * {
  align-content: center;
}
