#toolbar {
  color: white;
  background: #333399;
}



section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   justify-content: space-around;
  padding: 10px;
}

#toolContainer  {
  margin-right: 15px;
  margin-top: 2px;
  * {
    text-align:center;
  }
}

h1 {
  text-align:center;
  width: 50%;
  margin: 0 auto;  
}
input {
  color:darkblue;
}
.btn-save {
  margin-bottom: 2px;
}