.router-link-active {
  color: lightgreen !important;
}

ul.dropdown-cart{
  width: 500px;
  min-width:250px;
}
ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  //background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}
ul.dropdown-cart li .item-right button{
  margin-top:14px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.navbar {
  margin-bottom:0;
  background: #0E0E52;
  color: lightgreen;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  height: 120px;
  padding-top:25px;
  display: flex;
  flex-direction: row;
  // position: fixed;
  width:100%;
  top: 0;
  z-index: 1000;
  li {
    background-color: #0E0E52;
  }
}
.nav-logo {

  padding-bottom: 10px;
  margin-left: 15px;
  width: 30%;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size:14px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand{
  color: #fff;
  font-size: 28px;
}

.dropdown > *:hover {
  background: #fff;
}
.margin-btn {
  margin: 5px;
  position: relative;
}
.container {
  margin-right: 0px;
  max-width: 920px;
}