<div>
  <nav class="navbar navbar-default">
    <section class="container">
      <div class="navbar-header nav-header-home" style="margin-top: -4px;">
        <router-link to="/" class="navbar-brand" exact>SWAB - Simple Web App Builder</router-link>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><h4>hi user:{{currUser.user["firstName"]}} </h4></li>
          <li>
            <!--<router-link :to="{path:`home`}">-->
            <button type="button" class="btn btn-success">Home</button>
            <!--</router-link>-->
          </li>
          <li>
            <button @click="signOut" type="button" class="btn btn-success" v-if="!isLoggedIn">Logout</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          </li>
        </ul>
      </div>
    </section>
  </nav>
  <section>
    
  </section>
  <div class="sites-list">
    <div v-for="site in sitesToPrevFunc">
      <div class="prev-site">
        <router-link :to="{path:`main/${site._id}`}">{{site.siteInfo.siteName}}</router-link>
      </div>
    </div>
  </div>
  <div class="btn-create-container">
    <button @click="createNewSite" class="btn btn-info create-Site-btn">  Create New Site</button>
  </div>
  <router-link v-if="currSiteId" :to="{path:`main/${currSiteId}`}">{{currSiteId}}</router-link>
</div>
