
.prev-site{
    border: 1px dashed;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;
    border-radius: 10px;

}

.sites-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-Site-btn{
    margin: 50px;
}

li{
    margin: 10px;
}

.nav-header-home{

}
.btn-create-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.beta-logo {
    width: 5%;
}


h4{
    color:dimgrey;
}

.home-container{
    height: 1500px;
    background: linear-gradient(#ffffff,#99ffff);
}

