.prev-site{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 150px;

}

.sites-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-Site-btn{
    margin: 50px;
}

li{
    margin: 10px;
}

.nav-header-home{

}
.btn-create-container{
    display: flex;
    justify-content: center;
    width: 100%;
}