<div>
  <nav class="navbar navbar-default">
    <section class="container">
      <div class="navbar-header" style="margin-top: -4px;">
        <router-link to="/" class="navbar-brand" exact>SWAB - Simple Web App Builder</router-link>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>
            <!--<router-link :to="{path:`home`}">-->
              <button type="button" class="btn btn-success">Home</button>
            <!--</router-link>-->
          </li>
          <li>
            <button @click="signOut" type="button" class="btn btn-success" v-if="!isLoggedIn">Logout</button>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          </li>
        </ul>
      </div>
    </section>
  </nav>
  <h3>hi user:{{currUser.user["firstName"]}} </h3>
  <div v-for="site in sitesToPrevFunc" class="prev-site-container">
    <div class="prev-site">
      <router-link :to="{path:`main/${site._id}`}">{{site.siteInfo.siteName}}</router-link>
    </div>
  </div>
  <button  @click="createNewSite" class="btn btn-info">  Create New Site</button>
  <h4>
  </h4>
</div>
