// * {
//   box-sizing: border-box;
// }

// *:focus {
//   outline: none;
// }

html {
 margin: auto;
 font-size: 1em;
}

// a {
//   color: currentColor;
//   text-decoration: none;
//   display: inline-block;
// }

// ul,
// fieldset {
//   padding: 0;
//   margin: 0;
//   list-style-type: none;
// }

// fieldset {
//   border: none;
// }

// button {
//   border: none;
//   background-color: transparent;
//   cursor: pointer;
//   font-family: var(--primary-font);
// }
// img {
//     max-width: 100%;
//      max-height: 100%;
// }
// section {
//   padding: 2em 0 2em 0;
//   width: 100%;
//   height: 100%;
  
// }

h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}