$container-width: 1063px;
$mobile-breakpoint: 642px;

// Site main colors
$swabDarkPurple: #0E0E52;
$swabPurple: #333399;
$swabCyan: #449DD1;
$swabLightSign: #78C0E0;
$swabOrange: #EB6429;
$swabRed: #db1d13;
:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Playfair;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;
}

// Bulma override
$info: $swabOrange;
$danger: $swabRed;

